@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;

  min-width: 100vw;
  min-height: 100vh;
}

#app {
  overflow: hidden;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}


:root {
  /* Basic colors */
  --white: #ffffff;
  --red: #ff5454;
  --green: #9ad150;
  --orange: #ffa770;
  --yellow: #f3da8d;

  --blue: #b6cde2;
  --l-blue: #80a4ed;

  --d-gray: #a0a0a0;
  --l-gray: #d3d3d3;

  --d-black: #1d1d1b;
  --m-black: #2e3336;
  --l-black: #3e4851;
}

@layer base {
  * {
    --icon-color: hsla(var(--bc) / var(--tw-text-opacity, 1));
    --error-btn-text: hsl(var(--erc, var(--nc)) / var(--tw-text-opacity));
  
    --rounded-box: 0.25rem;
    --padding-card: 1rem;

    --white-cell: #FFFFDD; 
    --black-cell: #86A666; 
    --highlight-cell: #4D7E42; 

    --white-piece: #FFFFFF;
    --black-piece: #1a1a1a;
  }

  [data-theme="light"] {
    
  }

  [data-theme="dark"] {
   
  }
}